.background1EAE98 {
  background-color: #1eae98;
}

.buttonF0EBCC {
  background-color: #f0ebcc;
}

.buttonF0EBCC:hover {
  background-color: #c1bc9e;
}

.background77ACF1 {
  background-color: #77ACF1;
}

.buttonFFFFC7 {
  background-color: #FFFFC7;
}

.buttonFFFFC7:hover {
  background-color: #c1bc9e;
}

.textBlack {
  color: black;
}

.textWhite {
  color: white;
}

