.background1EAE98 {
  background-color: #24dbc0;
}

.buttonF0EBCC {
  background-color: #f0ebcc;
}

.buttonF0EBCC:hover {
    background-color: #C1BC9E;
}


.backgroundF0EBCC {
    background-color: #F0EBCC;
}

.button2563EB {
    background-color: #2563EB;
}

.button2563EB:hover {
    background-color: #1E3A8A;
}

.textBlack {
    color: black;
}

.textWhite {
    color: white;
}

