.background-1EAE98 {
  background-color: #1eae98;
}

.button-F0EBCC {
  background-color: #f0ebcc;
}

.button-F0EBCC:hover {
    background-color: #C1BC9E;
}


.background-F0EBCC {
    background-color: #F0EBCC;
}

.button-2563EB {
    background-color: #2563EB;
}

.button-2563EB:hover {
    background-color: #1E3A8A;
}

.text-black {
    color: black;
}

.text-white {
    color: white;
}

