.modal {
    position: fixed;
    top: 10vh;
    /* left: 5%; */
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide 250ms ease-out forwards;
  }
  
  @media (min-width: 768px) {
    .modal {
      top: 7vh;
      width: 40rem;
      left: calc(50% - 20rem);
    }
  }
  
  @media (min-width: 1024px) {
    .modal {
      top: 5vh;
      width: 46rem;
      left: calc(50% - 23rem);
    }
  }
  
  @media (min-width: 1280px) {
    .modal {
      width: 43rem;
      left: calc(50% - 21rem);
    }
  }
  
  @media (min-width: 1536px) {
    .modal {
      width: 41rem;
      left: calc(50% - 21rem);
    }
  }
  
  @keyframes slide {
    from {
      opacity: 0;
      transform: translateX(3rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .save_button {
    background-color: #233e8b;
    color: white;
  }
  
  .save_button:hover {
    background-color: #3259c5;
    color: white;
  }
  
  .close_button {
    background-color: #77acf1;
    color: white;
  }
  
  .close_button:hover {
    background-color: #6192d3;
    color: white;
  }
  
  .container {
    display: flex;
  }

  .box {
    margin-top: auto;
  }