.resetButton {
    background-color: #1EAE98;
}

.resetButton:hover {
    background-color: #1A8272;
}

.saveButton {
    background-color: #77ACF1;
}

.saveButton:hover {
    background-color: #6795D0;
}