.reset-button {
    background-color: #1EAE98;
}

.reset-button:hover {
    background-color: #1A8272;
}

.save-button {
    background-color: #77ACF1;
}

.save-button:hover {
    background-color: #6795D0;
}